{% extends "./base.html" %}

{% block content %}
    <h1>Course Material: </h1>
    <h2>{{ selected_course.name }} ({{ selected_course.code }})</h2>

    <div>
    {% if material|length != 0 %}
        {% for item in material %}
            <div class="main_section">
                <table class="table-container">
                    <tr>
                        <th style="width: 105px"><p><strong>Week:</strong></p></th>
                        <td><p>{{item.week}}</p></td>
                    </tr>
                    <tr>
                        <th><p><strong>Title:</strong></p></th>
                        <td><p>{{item.type}}</p></td>
                    </tr>
                    <tr>
                        <th><p><strong>Type</strong>:</p></th>
                        <td><p>{{item.type}}</p></td>
                    </tr>
                    <tr>
                        <th><p><strong>Description:</strong></p></th>
                        <td><p>{{item.desription}}</p></td>
                    </tr>
                    {% if item.file|length != 0 %}
                        <tr>
                            <th><p><strong>File:</strong></p></th>
                            <td><a href="/media/{{item.file}}"><p>OPEN FILE</p></a></td>
                        </tr>
                    {% endif%}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p><strong>No Course Material Available</strong></p>
    {% endif %}
    </div>

{% if role == "Teacher" %}
            <a href="/course_add_material/{{selected_course.pk}}"><button type="button" class="button-active">Add Course Material</button></a>
        {% endif %}

{% endblock %}

